@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: iransans, -apple-system, sans-serif;
    color: #37474f;
}


@font-face {
    font-family: iransans;
    src: url("../app/fonts/IRANSans.woff");
    font-display: block;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;
}


.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 30px !important;
    color: orange !important;
}